@import "/style/module/variables";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.2rem;
  border-bottom: 0.1rem solid $light_gray;
}
.MenuIcon {
  font-size: 1rem;
  color: $dark_brown;
  margin: 0 1rem;
}
.logo {
  font-size: 1.2rem;
  color: $dark_brown;
  font-weight: 500;
}
