@use "./style";
@import "/style/module/variables";
body {
  width: 100%;
  overflow-x: hidden;
  padding: 0 0 2.5rem 0;
  margin: 0;
  background-color: $white;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $light-gray;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $light_yellow;
}
