@import "/style/module/variables";

.sideMenu {
  background-color: $white;
  min-height: 100vh;
  padding-top: $space-xs;

  // open menu
  :global(.ant-menu-inline) {
    padding-right: $space-xs;
    font-weight: 500;

    :global(.ant-menu-item-selected) {
      border-start-start-radius: 0;
      border-end-start-radius: 0;
    }
    :global(.anticon) {
      font-size: 18px;
      margin-right: 1.2rem;
    }
    :global(.ant-menu-item) {
      height: 3rem;
      width: calc(100% - -29px);
      padding-right: 4rem;
      border-start-end-radius: 2rem;
      border-end-end-radius: 2rem;
    }
  }

  // close menu
  :global(.ant-menu-inline-collapsed) {
    :global(.ant-menu-item-selected) {
      border-radius: 8px;
    }
    :global(.anticon) {
      font-size: 18px;
    }
    :global(.ant-menu-item) {
      height: 3.1rem;
      padding-top: 0.5rem;
    }
  }

  :global(.ant-menu-item-selected) {
    background-color: $light_yellow;
    color: #000;
  }
}
